{% extends "basis.html" %}

{% load staticfiles %}

{% block nav %}
    {% include 'nav.html' with active="password" %}
{% endblock %}

{% block title %}
Password change
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 40px;">
    <div class="col-sm-4 col-sm-offset-3">
        <form method="post" action="{% url 'password_change' %}" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading"><i class="fa fa-key fa-3"></i> Password change</h2>

        {% if form.errors %}
        <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}

        <label for="old_password" class="sr-only">Old password</label>
        <input style="margin-top: 2px;" type="password" name="old_password" id="old_password" class="form-control" placeholder="Old Password" required>

        <label for="inputPassword" class="sr-only">New password</label>
        <input style="margin-top: 2px;" type="password" name="new_password1" id="new_password1" class="form-control" placeholder="New password" required>

            <label for="inputPassword" class="sr-only">New password - one time please</label>
        <input style="margin-top: 2px;" type="password" name="new_password2" id="new_password2" class="form-control" placeholder="New password again" required>
        <button class="btn btn-lg btn-danger btn-block btn-embossed" type="submit" style="margin-top: 5px;">Change password</button>
        <a class="btn btn-lg btn-primary btn-block btn-embossed" style="margin-top: 5px;" href="/">Cancel</a>
    </form>

    </div>
</div>

{% endblock %}