{% extends "basis.html" %}

{% load staticfiles %}

{% block nav %}
    {% include 'nav.html' with active="password" %}
{% endblock %}

{% block title %}
Password change
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 40px;">
    <div class="col-sm-6 col-sm-offset-2">
        <h2 class="form-signin-heading"><i class="fa fa-key fa-3"></i> Password change successful</h2>
        <span>
            Your password was changed
        </span>
    </form>


    {# Assumes you setup the password_reset view in your URLconf #}
{#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    </div>
</div>

{% endblock %}